body {
    background-image: url("Background.jpg");
}
h1 {
    color: rgb(190, 67, 36);
    font-family: 'Brush Script MT', cursive;
    font-size: 400%;

}
h2 {
    color: rgb(190, 67, 36);

}
tbody {
    color: rgb(172, 172, 172);

}
p {
    color: white;
    font-size: 300%;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
}
